[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone60.cfg

[versions]
createcoverage = 1.5
watchdog = 2.1.6

# Added by buildout at 2023-11-23 14:48:33.246723
build = 1.0.3
cmarkgfm = 2022.10.27
coverage = 7.3.2
i18ndude = 6.1.0
keyring = 24.3.0
markdown-it-py = 3.0.0
mdurl = 0.1.2
nh3 = 0.2.14
pkginfo = 1.9.6
pyproject-hooks = 1.0.0
readme-renderer = 42.0
requests-toolbelt = 1.0.0
rfc3986 = 2.0.0
rich = 13.7.0
twine = 4.0.2
zest.releaser = 9.1.1

# Required by:
# collective.taskqueue2==1.0a1
huey = 2.5.0

# Required by:
# keyring==24.3.0
jaraco.classes = 3.3.0

# Required by:
# jaraco.classes==3.3.0
more-itertools = 10.1.0

# Required by:
# collective.taskqueue2==1.0a1
z3c.jbot = 2.0
